<!DOCTYPE html>
<html>

<head lang='en'>
    <link href="/static/daemons/dj_mon.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/static/daemons/bootstrap.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="/static/daemons/jquery.min.js" type="text/javascript"></script>
    <script src="/static/daemons/dj_mon.js" type="text/javascript"></script>
    <script src="/static/daemons/bootstrap_tooltip.js" type="text/javascript"></script>
    <script src="/static/daemons/bootstrap_tab.js" type="text/javascript"></script>
    <script src="/static/daemons/bootstrap_popover.js" type="text/javascript"></script>
    <script src="/static/daemons/bootstrap_modal.js" type="text/javascript"></script>
    <script src="/static/daemons/mustache.js" type="text/javascript"></script>
</head>

<body>
    <header>
        <div class='navbar navbar-fixed-top'>
            <div class='navbar-inner'>
                <div class='container'>
                    <div class='pull-left'>
                        <a href="http://github.com/runner-mei/daemontools" class="brand">Daemontools</a>
                    </div>
                    <div class='pull-right'>
                        <a href="#daemontools_settings_template" class="btn btn-primary btn-mini" data-content="{}" id="settings" rel="modal">Settings</a>
                    </div>
                    <div class='pull-right'>
                        <div id='dj-counts-view'></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class='container centered'></div>
    <div class='container'>
        <table class='table table-striped' id='jobs-table'>
        <thead>
          <tr>
          <th>name</th>
          <th>pid</th>
          <th>status</th>
          <th>retries</th>
          <th>last error</th>
          <th class='date'>run at</th>
          </tr>
        </thead>
        <tbody>
          {{range $index, $element := .processes}}
          <tr>
            <td><div class='label label-info'>{{$element.name}}</div></td>
            <td> {{$element.pid}} </td>
            <td> {{$element.status}} </td>
            <td> {{$element.retries}} </td>
            <td> <a href="#last_error_template" data-content="{{$element.last_error}}" rel='modal' title='Last Error'> {{$element.last_error_summary}} </a> 
             <div class='modal hide'>
              <div class='modal-header'>
              <button class='close' data-dismiss='modal' type='button'>¡Á</button>
              <h3>Last Error</h3>
              </div>

              <div class='modal-body'><code>{{$element.last_error}}</code></div>
              <div class='modal-footer'>
                <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
              </div>
            </div>
            </td>
            <td class='date'>

              {{if $element.owned}}
              {{$element.run_at}}
              <form accept-charset="UTF-8" action="/daemons/{{$element.name}}/restart" class="form-inline" method="post"><div style="margin:0;padding:0;display:inline">
                <input name="utf8" type="hidden" value="&#x2713;" />
                <input name="authenticity_token" type="hidden" value="iObCtI46KYbhjIJCA4w01FI/nkV6PQyRxJkkSympj8A=" /></div>
                <input class="btn btn-info btn-mini" name="commit" type="submit" value="Restart" />
              </form>
              {{if $element.is_started}}
              <form accept-charset="UTF-8" action="/daemons/{{$element.name}}/stop" class="form-inline" method="post">
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
                  <input name="_method" type="hidden" value="post" />
                  <input name="authenticity_token" type="hidden" value="iObCtI46KYbhjIJCA4w01FI/nkV6PQyRxJkkSympj8A=" />
                </div>
                <input class="btn btn-danger btn-mini" name="commit" type="submit" value="Stop" />
              </form>
              {{else}}
              <form accept-charset="UTF-8" action="/daemons/{{$element.name}}/start" class="form-inline" method="post">
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
                  <input name="_method" type="hidden" value="post" />
                  <input name="authenticity_token" type="hidden" value="iObCtI46KYbhjIJCA4w01FI/nkV6PQyRxJkkSympj8A=" />
                </div>
                <input class="btn btn-danger btn-mini" name="commit" type="submit" value="start" />
              </form>
              {{end}}
              {{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
        </table>
    </div>


<script id='daemontools_settings_template' type='text/x-handlebars-template'>
  <div class='modal hide'>
    <div class='modal-header'>
      <button class='close' data-dismiss='modal' type='button'>×</button>
      <h3> Settings </h3>
    </div>

    <div class='modal-body'>
      <table class='table table-bordered table-striped'>
        <tr>
          <td>version</td>
          <td><code>{{.version}}</code></td>
        </tr>
        {{range $index, $element := .settings}}
        <tr>
          <td>{{$index}}</td>
          <td><code>{{$element}}</code></td>
        </tr>
        {{end}}

      </table>
    </div>
    <div class='modal-footer'> <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a> </div>
  </div>
</script>
</body>

</html>